<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yemek Sepeti indirim hesaplama</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>

<body>
    <nav>
        <h1> Yemek Sepeti indirim hesaplama </h1>
    </nav>
    <div id="app">
        <div class="row">
            <div class="col">
                <button v-on:click="addBtn">Ürün Ekle</button>
            </div>
            <div class="col col-before">
                
                <label>{{totalText1}}</label><h4>{{beforeTotal}}</h4>
            </div>
            <div class="col col-after">
                <label>{{totalText2}}</label><h4> {{afterTotal}} </h4>
            </div>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Asıl Fiyat</th>
                        <th>Adet</th>
                        <th>İndirimli Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="price in prices">
                        <td>
                            <input type="number" v-on:input="calculateData" v-model="price.beforePrice" step="1" />
                        </td>
                        <td>
                            <input type="number" v-on:input="calculateData" v-model="price.piece" min="1" step="1" />
                        </td>
                        <td>
                            {{price.afterPrice}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>